.header {
  width: 100%;
  padding-left: 32px;
  padding-right: 32px;

  color: white;
  box-sizing: border-box;
  z-index: 2;
  position: fixed;
  top: 0;
  /* background-color: rgba(25, 24, 24, 0.6); */

  height: 60px;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header__left {
  flex: 1;
}

.header__left h1 {
  color: #fff;
}

.header__right {
  /* background: red; */
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.header__right a {
  color: #fff;
}

.header__right button {
  background: #ec9f09;
  padding: 5px 50px; /* Set the padding around the button */
  font-size: 16px; /* Set the font size */
  border: none; /* Remove the border */
  cursor: pointer;
  margin-right: 10px;
}

.header__top {
  text-align: right;
}
.navCont {
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin-top: 10px;
}
.navCont li {
  font-weight: 400;
  font-size: 19px;
  color: rgb(212, 195, 195);
  cursor: pointer;
}
.mobile__left {
  display: flex;
  justify-content: space-between;
}
.mobile__wrapper {
  display: none;
}
.top__wrapper {
  display: flex;
  align-items: center;
}
.want__mobile {
  padding: 5px 30px;
  margin-right: 10px;
  background-color: #ec9f09;
  border: none;
  cursor: pointer;
}
.snack {
  padding: 4px;
}
.mobile__right input {
  width: 100%;
  border: none;
  height: 30px;
}
.mobile__wrapper {
  font-size: 1.3rem;
  color: var(--primary-color);
  display: none;
}
.active__menu {
  display: block;
}
.mobile__navCont li {
  border-bottom: 1px dotted gray;
  padding-left: 20px;
  margin-top: 20px;
  padding-bottom: 20px;
  cursor: pointer;
}

@media only screen and (max-width: 990px) {
  .mobile__nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 100vh;
    background: rgb(27, 76, 192);
    z-index: 9999;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(0);
  }
  .header {
    box-sizing: border-box;
  }
  .header__wrapper {
    display: none;
  }
  .mobile__wrapper {
    display: block;
  }
}
