.header {
  width: 100%;
  padding-left: 32px;
  padding-right: 32px;

  color: white;
  box-sizing: border-box;
  z-index: 2;
  position: fixed;
  top: 0;
  height: 60px;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header__left {
  flex: 1;
  height: 100%;
}

.header__left img {
  height: 100%;
}

.header__center {
  display: flex;
  list-style: none;
  justify-content: center;
  flex: 3;
  height: 100%;
  align-items: center;
}

.mobile__navCont {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.mobile__navCont a {
  margin: 15px 0;
}

.mobile__navCont a,
.header__center a,
.header__right a {
  font-weight: 500;
  font-size: 16px;
  color: #000;
  cursor: pointer;
  padding: 0 15px;
  padding-bottom: 10px;
  text-decoration: none;
  position: relative;
  text-decoration: none;
  border-bottom: 3px solid #16578800;
  transition: border-bottom-color 0.2s ease-in-out;
}

.mobile__navCont a:hover,
.header__center a:hover,
.header__right a:hover {
  color: #165788; /* Change to desired hover color */
  border-bottom-color: #165788;
}

.header__right {
  /* background: red; */
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.header__right button {
  background: #ec9f09;
  padding: 5px 50px; /* Set the padding around the button */
  font-size: 16px; /* Set the font size */
  border: none; /* Remove the border */
  cursor: pointer;
}

.mobile__wrapper {
  display: none;
  height: 100%;
}

.mobile__left {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.mobile__left img {
  height: 100%;
}

.top__wrapper {
  display: flex;
  align-items: center;
}
.want__mobile {
  padding: 5px 30px;
  margin-right: 10px;
  background-color: #ec9f09;
  border: none;
  cursor: pointer;
}
.snack {
  padding: 4px;
  border: none;
  font-size: 30px;
  cursor: pointer;
}
.mobile__right input {
  width: 100%;
  border: none;
  height: 30px;
}
.mobile__wrapper {
  font-size: 1.3rem;
  color: var(--primary-color);
  display: none;
}
.active__menu {
  display: block;
}

@media only screen and (max-width: 990px) {
  .mobile__nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 100vh;
    background: rgb(230, 230, 230);
    z-index: 9999;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(0);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header {
    padding-left: 14px;
    padding-right: 14px;
    box-sizing: border-box;
  }
  .header__wrapper {
    display: none;
  }
  .mobile__wrapper {
    display: block;
  }
}
